.location_search{
    max-width:500px;
    margin:auto;
}

.icon_container{
    position: absolute;
    top:3px;
    right:8px;
    font-size: 16px;
    color:black;
    cursor: pointer;
}

.PlaceSearch{
    width:400px;
}