.individual_item{
    padding: 20px;
}
.span_style{
    font-size: 30px;
}

.div_style{
    font-size: 20px;
    font-family: fantasy;
    font-weight: initial;
}

.ul_item{
    list-style-type: none;
    font-size: 19px;
}

.ul_item>li{
    font-family: fantasy
}

.review{
    padding: 20px;
}

.author{
    font-size: 23px;
    font-weight: bold;
}

.comment{
    font-size: 14px;
}

.small{
    font-size: 13px;
}