html{
    font-size:62.5%;    
}
body{
    
        font-family: helvetica,Arial,sans-serif;
        font-size: 1.6rem;
        height: 100vh;
        overflow: hidden;
        width: 100%;
    
}
button{
    cursor:pointer;
}
button:disabled{
    cursor:default;
}
